body{
  background-color: #f5f5f5;
}

#vSidebar{
  width: 250px;
  min-height: 100px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-500px);
  background-color: #fff;
}
#vSidebar.sidebarMinPosition{
  left: 0px;
  transform: translateX(0px);
}
.sidebar{
  border-bottom: 1px #ccc solid;
}
.sidebar a{
  display: block;
  color: #2c6ecf;
  padding-left: 2em;
  transition: all 0.3s;
}
.sidebar a:hover{
  background-color: #2c6ecf;
  color: #fff;
}

#vBlogs{
  width: 700px;
  min-height: 100px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-200px);
  background-color: #fff;
}
#vBlogs.blogsMinPosition{
  left: 300px;
  transform: translateX(0px);
}

.blog{
  border-bottom: 1px #ccc solid;
}
.blog h2{
  /* text-align: left; */
  padding-left: 1em;
  font-weight: 700;
}
.blog p{
  box-sizing: border-box;
  width: 100%;
  max-height: 3em;
  line-height: 1.5;
  overflow: hidden;
  /* word-break:break-all; */
  padding: 0 1em;
  text-overflow: ellipsis;
  text-indent: 2em;
}
.blog time{
  margin-right: 1em;
  float: right;
}
